.ipynb_checkpoints/
saved_models/
tf_dataset/
visualize_mnist-v10/
visualize_mnist-v13/
visualize_mnist-v14/
visualize_mnist-v15/
visualize_mnist-v16/
visualize_mnist-v17/
visualize_mnist-v3/
visualize_mnist-v4/
visualize_mnist-v5/
visualize_mnist-v6/
visualize_mnist-v7/
visualize_mnist-v8/
visualize_mnist-v9/
visuals-1/
visuals/
visualize_mnist-*
